<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Top Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of movies; let i=index;" [routerLink]="[item.id]">
      <span slot="start">{{i + 1}}</span>
      <ion-thumbnail>
        <img [src]="imageBaseUrl + '/w92' + item.poster_path">
      </ion-thumbnail>
      &nbsp;
      <ion-label>{{item.title}}
        <p>{{item.release_date | date:'y'}}, Rating: <ion-badge>
          {{item.vote_average}}
        </ion-badge></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" LoadingText="Loading Data"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
